@charset "utf-8";
/* {margin:0; padding:0;}
* html body {overflow:visible;}
* html iframe, * html frame {overflow:auto;}
* html frameset {overflow:hidden;}
body {color:#000; background:#FFF; font-family: Verdana, Arial, sans-serif; font-size: 12px; text-align:center; width:960px; }
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, tr {margin:0 auto; padding:0;}
input, select {font-size:12px; vertical-align:middle;}
textarea, input {word-wrap:break-word; word-break:break-all; padding:0px;}
li {list-style-type:none;}
img {border:0 none;}
a {color:#000; text-decoration:none;}
a:hover {color:#628828;}
a {outline:none; star:expression_r(this.onFocus=this.blur());}
h1 { font-size:24px; }
h2 { font-size:20px; }
h3 { font-size:18px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
*/
a {color:#000; text-decoration:none; cursor:pointer;}
a:hover {color:#628828;}

.pointer { cursor:pointer; }

/*.NoBorder { border:0 none; }
.NoPadding { padding:0; }
.t_l { text-align:left; }
.t_c { text-align:center; }
.t_r { text-align:right; }
.Break { word-break:break-all; word-wrap:break-word; }
.Nobreak { word-break:keep-all; word-wrap:normal; }
.FL { float:left; }
.FR { float:right; }
.UnLine { text-decoration:underline; }
.DisunLine { text-decoration:none; }
.absolute { position:absolute; }
.relative { position:relative; }
.wrapper { clear:both; overflow:hidden; }
.o-hidden { overflow:hidden; }
.invisible { visibility:hidden; }
.hidden { display:none; }
.block { display:block; }
.clear { clear:both; height:0px; width:100%; font-size:1px; line-height:0px; visibility:hidden; overflow:hidden; }

.color_green { color:#85c226; }
.color_red { color:#e8470a; }
.color_red1 { color:#F00; }
.color_yellow { color:#bf0000; }
*/